.root {
    -fx-font-family: 'Nunito', sans-serif;
    -fx-font-size: 14px;
    -fx-background-color: #4781eb;
    -fx-text-fill: #f4f4f6;
}

.button {
    -fx-font-family: 'Nunito', sans-serif;
    -fx-background-color: #f4f4f6;
    -fx-text-fill: #1f2837;
}

.search-result {
    -fx-font-family: 'Nunito', sans-serif;
    -fx-text-fill: #f4f4f6;
    -fx-font-style: italic;
}

#title{
    -fx-font-family: 'Nunito', sans-serif;
    -fx-text-fill: #f4f4f6;
    -fx-font-size: 35px;
}

#article-title{
    -fx-font-family: 'Nunito', sans-serif;
    -fx-text-fill: #f4f4f6;
    -fx-font-size: 18px;
}


